{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 37, "knowledge_revision": 174, "git_revision": "", "hash": "38368111d876938f0821802f9bf8a076", "format-version": 4, "code-base-name": "default", "filename": "recipeapp_frontend/ios/Flutter/Generated.xcconfig", "revision_history": [{"174": ""}]}