{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 80, "knowledge_revision": 219, "git_revision": "", "hash": "0aeb42f1bce971941186f592d06ac3d1", "format-version": 4, "code-base-name": "default", "filename": "recipeapp_frontend/macos/Flutter/ephemeral/Flutter-Generated.xcconfig", "revision_history": [{"219": ""}]}