{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 6, "knowledge_revision": 143, "git_revision": "", "hash": "e4bf0aed0c5860ff8b71fc2820f908fe", "format-version": 4, "code-base-name": "default", "filename": "recipeapp_frontend/ios/Runner/Info.plist", "revision_history": [{"143": ""}]}