{"is_source_file": false, "format": null, "description": null, "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 128, "knowledge_revision": 265, "git_revision": "", "hash": "61918749ec8c49c1f61ad551f3830280", "format-version": 4, "code-base-name": "default", "filename": "recipeapp_frontend/windows/runner/Runner.rc", "revision_history": [{"265": ""}]}